<p></p>
<img src="https://fontmeme.com/permalink/220215/5e1a48315b1bf2c5f0a6e493b60c05fc.png" alt="pokemon-font" border="0" width="900" class="center" >

<h2>See Who's Playing:</h2>

<ng-container *ngFor="let user of allUsers">
   <p>{{ user.username }}</p> 
</ng-container>

<table width="100%"></table>
<ng-container *ngFor="let pokemon of allPokemon">
 <table width=100; style=" float: left; border: black;" align="center">
    <thead>
        <tr>
            <td align="center">
                <img src="{{pokemon.main_sprite}}"><br>
                # {{pokemon.id}}<br>
                {{pokemon.species}}<br>
            </td>
        </tr>
    </thead>
</table>
</ng-container>


