<div>
    <h1>Sign in</h1>
    <p>Username: <input type="text" [(ngModel)]="loginUser" /> </p>
    <p>Password: <input type="text" [(ngModel)]="loginPassword" /></p>
    <button (click)="signIn()">Sign In</button> 

    <p>No profile? Create one! </p>
    <ng-container>
    <p>Username: <input type="text" [(ngModel)]="newUser.username"/> </p>
    <p>Password: <input type="text" [(ngModel)]="newUser.password"/></p>
    <p><button (click)="addUser(newUser)">Join!</button></p> 
    </ng-container>
</div>