<div>
    <h1>Sign in</h1>
    <p>Username: <input type="text" [(ngModel)]="loginUser" /> </p>
    <p>Password: <input type="text" [(ngModel)]="loginPassword" /></p>
    <button (click)="LogIn()">Log In</button> 

    <p>No profile? <button (click)="YesCreateButton()">Create one!</button> </p>
    <ng-container *ngIf="showCreateButton">
    <p>Username: <input type="text" [(ngModel)]="newUser.username"/> </p>
    <p>Password: <input type="text" [(ngModel)]="newUser.password"/></p>
    <p><button (click)="addUser(newUser)">Join!</button></p> 
    </ng-container>
</div>