<div *ngIf="!inBattle">
    <button (click)="Battle()">Battle!</button> <br />
    <button (click)="HealTeam()">Heal Pokemon!</button>
</div>
<div *ngIf="inBattle">
    <img src="{{ EnemyPokemonFull?.main_sprite }}"><br />
    {{ EnemyPokemon?.species }}<br />
    lv. {{ EnemyPokemon?.level }}<br />
    {{ EnemyPokemon?.current_hitpoints }} / {{ EnemyPokemon?.hitpoints }}<br /><br />
    <img src="{{ PlayerPokemonFull?.main_sprite }}"><br />
    {{ PlayerPokemon?.species }}<br />
    lv. {{ PlayerPokemon?.level }}<br />
    {{ PlayerPokemon?.current_hitpoints }} / {{ PlayerPokemon?.hitpoints }}<br /><br />
    <button [disabled]="turnPlaying || battleEnding" (click)="PlayTurn(PlayerPokemon, EnemyPokemon)">Attack!</button>
    <button [disabled]="battleEnding" (click)="EndBattle(false)">Run away!</button><br />
    <button [disabled]="battleEnding" (click)="DisplayItems()">Items!</button>
    <button [disabled]="battleEnding" (click)="DisplayTeam()">Switch Pokemon!</button>
</div>